attrs==20.3.0
autopep8==1.6.0
backcall==0.2.0
cement==2.8.2
certifi==2021.5.30
cfn-lint==0.44.6
charset-normalizer==2.0.6
click==8.0.1
click-man==0.4.1
colorama==0.4.3
debugpy==1.5.0
decorator==4.4.2
entrypoints==0.3
future==0.16.0
ghp-import==2.0.1
idna==3.2
importlib-metadata==4.5.0
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
jsonpatch==1.28
jsonpointer==2.0
jsonschema==3.2.0
junit-xml==1.9
jupyter-client==7.0.6
jupyter-core==4.8.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mergedeep==1.3.4
mkdocs==1.2.1
nest-asyncio==1.5.1
networkx==2.5
numpy==1.22.3
packaging==20.9
pandas==1.4.1
parso==0.8.2
pathspec==0.5.9
pickleshare==0.7.5
prompt-toolkit==3.0.20
pycodestyle==2.8.0
pydot==1.4.2
Pygments==2.10.0
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.3
PyYAML==5.4.1
pyyaml-env-tag==0.1
pyzmq==22.3.0
requests==2.26.0
s3transfer==0.3.4
semantic-version==2.8.5
termcolor==1.1.0
toml==0.10.2
tornado==6.1
traitlets==5.1.0
urllib3==1.26.7
watchdog==2.1.2
wcwidth==0.1.9
zipp==3.4.1
